@model ICollection<Musteri>;



    

<div class="container">

    <h4>Müşteri Bilgileri</h4>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive" data-pattern="priority-columns">
                <table summary="This table shows how to create responsive tables using RWD-Table-Patterns' functionality" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Müşteri ID</th>
                            <th data-priority="1">Ad</th>
                            <th data-priority="2">Soyad</th>
                            <th data-priority="3">E Mail</th>
                            <th data-priority="4">Şifre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var musteri in Model)
                        {
                            <tr>
                                <td>@musteri.Id</td>
                                <td>@musteri.Name</td>
                                <td>@musteri.Surname</td>
                                <td>@musteri.Mail</td>
                                <td>@musteri.Password</td>
                                <td> <button type="button" class="btn btn-light">Sil</button></td>
                                <td>   <button type="button" class="btn btn-light">Güncelle</button></td>

                            </tr>
                        }
                   
                
                    </tbody>
                 
                </table>
            </div>
        </div>
    </div>
</div>

